<h2>Inbox</h2>
<table class="table">
  <thead class="thead-light">
    <th scope="col">From</th>
    <th scope="col">Subject</th>
    <th scope="col">Received</th>
    <th scope="col">bodyPreview</th>
  </thead>
  <tbody>
    {{#each messages}}
      <tr class="{{#unless this.isRead}}table-primary{{/unless}}">
        <td title="{{this.from.emailAddress.address}}">{{this.from.emailAddress.name}}</td>
        <td>{{this.subject}}</td>
        <td>{{opt this.receivedDateTime}}</td>

        <td>{{this.body.content}}</td>

      </tr>


      {{log this.subject}}

    {{/each}}
  </tbody>
</table>
